<h1>To Do List</h1>

<%= turbo_stream_from "todos" %>

<%= turbo_frame_tag "todo_form" do %>
  <%= render 'form', todo: @todo %>
<% end %>

<%= turbo_frame_tag "todo" do %>
  <%= render @todos%>
<% end %>
